/* **********************************************************************************************************************

1 - Fonts
2 - Settings
3 - Header
4 - Nav-Bar
5 - Accueil Index
6 - Menus
7 - Horaire
8 - Footer
9 - Contact
10 - Media queries

************************************************************************************************************************* 

************************************************************************************************************************* 

/* 1 - FONTS 
************************************************************************************************************************* */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@font-face {
    font-family: "font-h2";
    src: url(../fonts/Bright\ Star\ Dafont.otf);
}

@font-face {
    font-family: "font-h1";
    src: url(../fonts/Mochary_PERSONAL_USE_ONLY.ttf);
}


/* 2 - SETTINGS
************************************************************************************************************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
}

body {
    background: #292929;
}

a {
    text-decoration: none;
    color: #191919;
}

.container {
    width: 70%;
    background: #ccc;
    margin: auto;
}

.line {
    width: 5%;
    height: 5px;
    background: rgb(194, 43, 43);
    margin: auto;
    border-radius: 50px;
}

.onglets {
    text-align: center;
    font-size: 4rem;
    margin: 2rem auto;
    font-family: "font-h2";
    background: linear-gradient(180deg, rgb(194, 43, 43)0%, rgb(83, 0, 0)100%);
    color: #ccc;
    width: 700px;
    border-radius: 50px;
    box-shadow: 0 0 1px rgb(194, 43, 43), 0 0 3px rgb(83, 0, 0);
    text-shadow: 0 0 1px #494949, 0 0 3px #191919;
}


/* 3 - HEADER
************************************************************************************************************************* */
.title h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 6rem;
    font-family: "font-h1";
    letter-spacing: 1px;
    font-weight: 400;

}

.title h2 {
    font-family: "font-h2";
    text-align: center;
    font-size: 3rem;
    color: rgb(194, 43, 43);
}


/* 4 - NAV BAR 
************************************************************************************************************************* */
nav {
    width: 100%;
    margin: 2rem auto;
}

nav ul {
    justify-content: center;
    display: flex;
    background: linear-gradient(90deg, rgba(41, 41, 41, 1) 0%, rgba(73, 73, 73, 1) 50%, rgba(41, 41, 41, 1) 100%);
}

nav ul li {
    padding: 2rem;
}

nav ul li a {
    color: #ccc;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid rgb(194, 43, 43);
    padding-bottom: 2px;
}


/* 5 - ACCUEIL INDEX
************************************************************************************************************************* */
section {
    width: 90%;
    height: 100%;
    min-height: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


section .image img {
    width: 409.65625px;
    height: 206.21875px;
}

section .texte {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .texte .text h3 {
    border-radius: 50px 50px 0 0;
}

section .texte p {
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #494949;
}

section .texte h3 {
    text-align: center;
    font-family: "font-h1";
    color: #494949;
    font-size: 2.8rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.livraison {
    width: 800px;
    margin: auto;
}

/* 6 - MENUS
************************************************************************************************************************* */
#menus {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i";
}

#menus:nth-last-child(1) {
    grid-area: a;
}

#menus:nth-last-child(2) {
    grid-area: b;
}

#menus:nth-last-child(3) {
    grid-area: c;
}

#menus:nth-last-child(4) {
    grid-area: d;
}

#menus:nth-last-child(5) {
    grid-area: e;
}

#menus:nth-last-child(6) {
    grid-area: f;
}

#menus:nth-last-child(7) {
    grid-area: g;
}

#menus:nth-last-child(8) {
    grid-area: h;
}

#menus:nth-last-child(9) {
    grid-area: i;
}

.cube img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 2px rgb(83, 0, 0);
}

.cube img:hover {
    transform: scale(1.01);
    transform-origin: 50% 50%;
    filter: contrast(120%);
    transition: 0.3s ease-in-out;
}

.cube p {
    text-align: center;
    margin-top: 15px;
}

.cube h4 {
    text-align: center;
    font-size: 1.5rem;
}

.Row {
    justify-content: space-around;
    display: flex;
    margin-bottom: 50px;
}

.Row h6 {
    font-size: 2.1rem;
    font-family: "font-h2";
}

.Plats h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
}

.Plats h3 span {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: right;
}

.Plats p {
    font-weight: 600;
}

.Colonne {
    width: 100%;
    padding: 0 10px;
    border-right: 1px dashed rgb(194, 43, 43);
}

.Colonne h2 {
    padding: 15px;
    color: #ccc;
    background: #494949;
    width: 300px;
    border-radius: 0 50px 50px 0;
    font-family: "Font-h1";
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.download {
    width: 200px;
    margin: auto;
    transform: translateX(25%);
}

.download p {
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
}

/* 7 - HORAIRES
************************************************************************************************************************* */
#horaire {
    height: 289px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.margin-2rem {
    margin: 2rem 0;
    text-transform: uppercase;
}

/* 8 - FOOTER
************************************************************************************************************************* */
footer {
    background: linear-gradient(90deg, rgba(41, 41, 41, 1) 0%, rgba(73, 73, 73, 1) 50%, rgba(41, 41, 41, 1) 100%);
    padding-top: 10px;
}

footer .images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .images img {
    width: 50px;
}

footer p {
    text-align: center;
    color: #ccc;
}

footer .copyright {
    margin-top: 1rem;
}

.logo-footer img {
    width: 150px;
    position: absolute;
    bottom: 50px;
}

.footer-over {
    position: relative;
    display: grid;
    grid-template-columns: 0 100%;
}

/* 9 - CONTACT
************************************************************************************************************************* */
.contact {
    width: 50%;
    margin: 3rem auto;
    height: 225px;
}

.numero {
    margin: auto;
    width: 600px;
}

.numero i,
.numero p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

/* 10 - MEDIA QUERIES
************************************************************************************************************************* */
@media screen and (max-width:1528px) {
    .logo-footer img {
        bottom: 70px;
    }
}

@media screen and (max-width:1389px) {
    .logo-footer img {
        bottom: 80px;
        width: 120px;
    }

    .Row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "a b"
            "c c";
    }

    .row:nth-last-child(1) {
        grid-area: a;
    }

    .row:nth-last-child(2) {
        grid-area: b;
    }

    .row:nth-last-child(3) {
        grid-area: c;
    }
}

@media screen and (max-width:1287px) {
    .cube img {
        width: 270px;
        height: 270px;
    }
}

@media screen and (max-width:1273px) {
    .logo-footer img {
        bottom: 90px;
        width: 100px;
    }
}

@media screen and (max-width:1266px) {
    .container {
        width: 100%;
    }

    .logo-footer img {
        width: 150px;
        position: absolute;
        bottom: 50px;
    }

    .Row {
        justify-content: space-around;
        display: flex;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:1070px) {
    .logo-footer img {
        bottom: 70px;
    }
}

@media screen and (max-width:972px) {
    .logo-footer img {
        bottom: 90px;
        width: 100px;
    }

    .Row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "a b"
            "c c";
    }

    .row:nth-last-child(1) {
        grid-area: a;
    }

    .row:nth-last-child(2) {
        grid-area: b;
    }

    .row:nth-last-child(3) {
        grid-area: c;
    }
}

@media screen and (max-width:852px) {
    .logo-footer img {
        bottom: 100px;
    }

    section {
        flex-direction: column;
    }

    nav ul li {
        padding: 1rem;
    }
}

@media screen and (max-width:810px) {
    .cube img {
        width: 220px;
        height: 220px;
    }
}

@media screen and (max-width:788px) {
    .logo-footer img {
        bottom: 120px;
    }

    .livraison img {
        width: 700px;
    }
}

@media screen and (max-width:734px) {
    .logo-footer img {
        bottom: 100px;
    }

    footer p {
        font-size: .9rem;
    }
}

@media screen and (max-width:710px) {
    .logo-footer img {
        bottom: 120px;
    }

    .livraison img {
        width: 660px;
    }

    .onglets {
        width: 500px;
        font-size: 3rem;
    }
}

@media screen and (max-width:661px) {
    .logo-footer img {
        bottom: 85px;
        width: 90px;
    }

    footer p {
        font-size: .8rem;
    }

    .livraison img {
        width: 630px;
    }

    .cube img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:631px) {
    .logo-footer img {
        bottom: 100px;
    }
}

@media screen and (max-width:600px) {
    .cube img {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width:587px) {
    .logo-footer img {
        bottom: 80px;
        width: 90px;
    }

    footer p {
        font-size: .7rem;
    }

    .livraison img {
        width: 550px;
    }
}

@media screen and (max-width:552px) {
    .logo-footer img {
        bottom: 90px;
    }

    .livraison img {
        width: 500px;
    }

    .cube img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:514px) {
    .logo-footer img {
        bottom: 105px;
    }

    .onglets {
        width: 400px;
        font-size: 2.5rem;
    }
}